<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrap">
    <div class="form-wrap">
        <div class="button-wrap">
            <div id="btn"></div>
            <button type="button" class="togglebtn" onclick="login()">LOG IN</button>
            <button type="button" class="togglebtn" onclick="register()">REGISTER</button>
        </div>
        <form id="login" action="form" class="input-group">
            <input type="text" class="input-field" placeholder="User name" required>
            <input type="password" class="input-field" placeholder="Enter Password" required>
            <button class="submit">Login</button>
        </form>
        <form id="register" action="" class="input-group">
            <input type="text" class="input-field" placeholder="User name" required>
            <input type="password" class="input-field" placeholder="Password" required>
            <button class="submit">REGISTER</button>
        </form>
    </div>
</div>
</body>
</html>